spring:
  data:
    rest:
      basePath: /api/v1

  profiles:
    active: @project.profile@

  jackson:
    serialization:
      write_dates_as_timestamps: false

liquibase:
  changeLog: classpath:liquibase/changelog-master.xml

card:
  options:
    cashback:
      maxSum: 15000
    saving:
      threshold1: 5000
      threshold2: 15000
      threshold3: 75000
      maxSum4Rate: 150000
  countLimit: 6